<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail csv</title>
    {% include 'csv_parser/_include-headers.html' %}
</head>
<body>
{% include 'csv_parser/_include-navbar.html' %}
<div class="table-responsive">
    <table class="table table-responsive" style="width:auto">
        <thead>
        <tr>
            {% for h in headers %}
                <th scope="col">{{ h }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in csv %}
            <tr>
                {% for col in row.get_columns %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
